{% extends 'base.html' %}
{% load static %}

<body>
    {% block contents %}
    <img src="{% static 'img/sw.jpg' %}" alt='My Image' height='200'>
    <img src="{% static 'img/forest.jpg' %}" alt='My Image' height='200'>
    <img src="{% static 'img/cau.jpg' %}" alt='My Image' height='200'>
    <h5>&emsp;&emsp;소프트웨어 과잠 + 피콜로의 에어팟&emsp;&emsp;&emsp;&emsp;&emsp;학교가는 길, 고구동산&emsp;&emsp;&emsp;&emsp;작년 정문에 등장한 보름달</h5>
    <img src="{% static 'img/likelion.jpg' %}" alt='My Image' height='200'>
    <img src="{% static 'img/ski.jpg' %}" alt='My Image' height='200'  style="transform:rotate(90deg);">
    <img src="{% static 'img/spa.jpg' %}" alt='My Image' height='200'>
    <h5>&emsp;&emsp;&emsp;멋쟁이사자처럼 첫 번개&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;앞에 3명 친구들, 나는 혼자 뒤에서..&emsp;&emsp;&emsp;&emsp;찜질방 가봄!</h5>
    <div style="position:absolute; height:1000px; top:85px; left:700px;">
    <img src="{% static 'img/seoul.jpg' %}" alt='My Image' height='465px'  style="transform:rotate(90deg);">
    <h5>&emsp;고구동산에서 찍은 강북</h5>
    </div>
    {% endblock %}
</body>