{% extends 'base.html' %}

<body>
    {% block contents %}
        <h3>제 꿈은 제가 종사하는 분야에서 스스로 자랑스러운 사람이 되는 것입니다.<br/>
        지금 관심있는 분야는 감성컴퓨팅입니다. 열심히 공부해서 이 분야를 발전시키고 싶습니다.</h3>
        <h3>2020년 목표</h3>
        <ul>
            <li>멋쟁이사자처럼 완전 잘해내기</li>
            <li>영어회화 술술하기</li>
            <li>저축하기</li>
            <li>학점 관리하기</li>
        </ul>
        <h3>4월 목표</h3>
        <ul>
            <li>싸강 안밀리기</li>
            <li>가계부 쓰기</li>
            <li>책 읽기</li>
            <li>운동 시작하기</li>
        </ul>
    {% endblock %}
</body>