<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>김승아의 자기소개</title>
    <h1>김승아는 누구일까?</h1>
</head>
<body>
    <h2>안녕하세요. 김승아의 자기소개를 보러 와주셔서 감사합니다.</h2>
    <h2>다음과 같은 항목이 있습니다.</h2>
    <ul>
        <h3><li><a href = "{% url 'profile' %}">PROFILE : 자기소개</a></li></h3>
        <h3><li><a href = "{% url 'future' %}">PORTFOLIO : 꿈과 목표</a></li></h3>
        <h3><li><a href = "{% url 'gallery' %}">GALLERY : 사진 갤러리</a></li></h3>
        <h1><br/><br/></h1>
    </ul>
</body>
</html>